[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

weewx-orm = {git = "https://github.com/beasley-weather/weewx-orm.git"}
dts-client = {git = "https://github.com/beasley-weather/dts-client.git"}
dts-server = {git = "https://github.com/beasley-weather/dts-server.git"}
Werkzeug = "*"
click = "*"


[dev-packages]

pudb = "*"
